:root {
  --text-primary: #6b7280;
  --text-secondary: #4b5563;
  --bg-primary: #f9fafb;
  --bg-secondary: #eff6ff;
  --transition-speed: 400ms;
}

.sidebar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;

  width: 3rem;
  height: 100vh;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidebar-item {
  width: 100%;
}
.sidebar-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  padding-left: 1rem;
}

.sidebar-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.logo {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.sidebar:hover {
  width: 10rem;
  box-shadow: 0 15px 30px #6b728032;
}
.sidebar:hover .link-text {
  display: inline;
}

.sidebar .logo {
  transform: rotate(0deg);
  transition: 200ms;
}

.sidebar:hover .logo {
  transform: rotate(-180deg);
  margin-left: 7rem;
}
/* 
@media only screen and (max-width: 600px) {
  .sidebar:hover .link-text {
    display: none;
  }
  .logo {
    display: none;
  }
  .sidebar:hover {
    width: 2.5rem;
    box-shadow: none;
  }
} */
