:root {
  --text-primary: #6b7280;
  --text-secondary: #4b5563;
  --bg-primary: #f9fafb;
  --bg-secondary: #f3f4f6;
  --transition-speed: 600ms;
}

.sidebar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;

  width: 2.5rem;
  height: 100vh;
  padding-top: 2rem;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidebar-item {
  width: 100%;
}
.sidebar-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  margin-left: 0.7rem;
}

.sidebar-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.sidebar-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.sidebar:hover {
  width: 10rem;
  box-shadow: 0 15px 30px #6b728032;
}
.sidebar:hover .link-text {
  display: inline;
}
